*{padding:0;margin:0;}
body{font-family: "Microsoft yahei";background:#EEEEEE;}
a{text-decoration: none;}
div,img{-webkit-tap-highlight-color:rgba(255,255,255,0);}
.timg{display:block;width:3em;height:3em;margin:6em 10.5em;}
.sort{width:24em;margin-top:1em;}
.first-sort{width:23.8em;height:2.5em;border-left:0.2em solid #FF0000;background: #E0E0E0;}
.first-sort p{line-height: 2.5em;color:#CC3300;padding-left:0.5em;}
.second-sort{width:24em;}
.wrap{width:24em;height:2.5em;margin-top:0.25em;}
.left,.right{width:11.75em;height:2.5em;background:	#E0E0E0;-webkit-tap-highlight-color:rgba(255,255,255,0);}
.left{float:left;}
.right{float:right;}
.wrap p{display:block;line-height: 2.5em;float:right;width:95%;height:100%;
		/*文字溢出用省略号代替*/
			overflow:hidden;display:-webkit-box;text-overflow:ellipsis;
			-webkit-line-clamp:1;-webkit-box-orient: vertical;
		}

.null{width:7em;height:9em;margin:8em 8.5em 1em 8.5em;}
.null img{width:6.6em;height:6.1em;padding-left:0.2em;}
.null p{text-align: center;font-size: 1.1em;color:gray;}